*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/cover
/pbrssspider.py
/torrent_rssspider.py
/hbrowse_spider.py
/desudesu_rss_spider.py
/doujinland_rss_spider.py
/doujinmoe_rss_spider.py
/doujinmoe_test.py
/fakku_rss_spider.py
/files.txt
/fufufuunet_html_spider.py
/hbrowse_test.py
/hentaifromhell_rss_spider.py
/htmlprocessor_sample.py
/model_test.py
/rarbg_rss_spider.py
/sahadou_rss_spider.py
/thelustyladyproject_html_ddl_spider.py
